#project {
  font-family: "Poppins", sans-serif;
  padding: 80px;
}
.project-area .single-project {
  margin: 0;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.single-project-img {
  position: relative;
}
.single-project-img:after {
  border-radius: 5px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(251, 133, 0, 0.8);
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.single-project-img:hover:after {
  opacity: 1;
}
.single-project-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 99;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  height: auto;
}

.single-project-overlay h2 {
  color: #fff;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 10px;
  transform: translateY(-200%);
  -webkit-transform: translateY(-200%);
  opacity: 0;
  transition: 0.5s;
}

.single-project-img:hover .single-project-overlay h2 {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.single-project-overlay a {
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 30px;
  border: 1px solid #fff;
  line-height: 30px;
}

.single-project-overlay a {
  transform: translateY(200%);
  -webkit-transform: translateY(200%);
  display: inline-block;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
}

.single-project-img:hover .single-project-overlay a {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}
