#Skills {
  padding: 80px;
}
.skills-area {
  color: #fff;
}
.progress-bar {
  background: none;
  border-radius: 6px;
}
.progressbar {
  padding-top: 50px;
}
.progress-bar-rect-wrapper {
  background-color: #e6e7fb;
  border: none !important;
}
