/* //// Default effect: Slide from Top  //// */
.commonBtn {
  color: #fff;
  width: 173px;
  border-radius: 28px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid transparent;
  font-size: 16px;
  background-image: linear-gradient(to right, #fb8500, #ffb703);
  outline: none;

  line-height: 2;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none; /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  transition: all 0.5s;
}
.commonBtn:before,
.commonBtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: #fff; /* onhover background color */
  z-index: -1;
  transform: translate3D(
    0,
    -100%,
    0
  ); /* move elements above button so they don't appear initially */
  transition: all 0.5s;
}

.commonBtn:before {
  background: #fafcd6; /* button default background color */
  z-index: -2;
  transform: translate3D(0, 0, 0);
}

.commonBtn:hover {
  color: #fb8500;
  border: 1px solid #fb8500;
}

.commonBtn:hover:after {
  transform: translate3D(0, 0, 0);
  transition: all 0.5s;
}

/* //// Curtain Up  //// */

.curtainup {
  transform-style: preserve-3d;
}

.curtainup:before,
.curtainup:after {
  transform-origin: center center;
  transform: scale(1, 0);
}

.curtainup:hover:before,
.curtainup:hover:after {
  transform: scale(1);
  border-radius: 0;
}
